// mixins 'custom'
//
//
// CARET
@mixin caret-down ( $width: 6px, $color: rgb(255,255,255)) {
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top:   $width solid $color;
   border-right: $width solid transparent;
   border-left:  $width solid transparent;
}

@mixin caret-up ( $width: 6px, $color: rgb(255,255,255)) {
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-bottom:  $width solid $color    !important;
   border-right: $width solid transparent !important;
   border-left:  $width solid transparent !important;
}

@mixin tab-focus( $bg: transparent ) {
  // Default
   outline: 0;
  @include bg-color($bg);
   // WebKit
   outline: 0 none -webkit-focus-ring-color;
   outline-offset: 0px;
}
/*  ====================================================================== */
/* RGBA CONVERTER
/* ====================================================================== */

// – background-color
@mixin bg-color($color: $white, $alpha: 1) {
   $color-rgba: rgba(red($color), green($color), blue($color), $alpha);
   background-color: $color-rgba;
}

// – color
@mixin type-color($color: $white, $alpha: 1) {
   $color-rgba: rgba(red($color), green($color), blue($color), $alpha);
   color: $color-rgba;
}

// – border-color
@mixin border-color($color: $white, $alpha: 1) {
   $color-rgba: rgba(red($color), green($color), blue($color), $alpha);
   border-color: $color-rgba;
}

/*  ====================================================================== */
/*  STRIPED BACKGROUNDS
/*
/* ====================================================================== */

@mixin svg-bg( $size: 10px ) {
  background-repeat: repeat;
  background-size: $size $size;
  background-position: center center;
}

// BLACK
@mixin stripes-black-005 ( $background: $gray-darker, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC4wNSI+PHBvbHlnb24gcG9pbnRzPSI2LDAgMCw2IDAsOCA4LDAiLz48cG9seWdvbiBwb2ludHM9IjYsMTAgOCwxMCAxMCw4IDEwLDYiLz48L2c+PC9zdmc+");
  background-color: $background;
  @include svg-bg($size);
}

@mixin stripes-black-01 ( $background: $gray-darker, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC4xIj48cG9seWdvbiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}

// WHITE
@mixin stripes-01 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC4xIj48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-02 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC4yIj48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-03 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC4zIj48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-04 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC40Ij48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-05 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC41Ij48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-06 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC42Ij48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-07 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC43Ij48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-08 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC44Ij48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-09 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMC45Ij48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMCAwLDYgMCw4IDgsMCIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNiwxMCA4LDEwIDEwLDggMTAsNiIvPjwvZz48L3N2Zz4=");
  background-color: $background;
  @include svg-bg($size);
}
@mixin stripes-10 ( $background: $gray-light, $size: 10px ) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGcgb3BhY2l0eT0iMSI+PHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSI2LDAgMCw2IDAsOCA4LDAiLz48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjYsMTAgOCwxMCAxMCw4IDEwLDYiLz48L2c+PC9zdmc+");
  background-color: $background;
  @include svg-bg($size);
}
