/*
 * CHOSEN.RESET
 * reset default chosen.css to make custom skinning less annoying and timeconsuming
 */
.chosen-container {
   box-shadow: none !important;
   font-family: $font-family-sans-serif;
   font-weight: 400;
   font-size: 100%;
   & {
      .chosen-drop {
         border-image: none !important;
         box-shadow: none !important;
         border: none;
         text-transform: none;
      }
      .chosen-results {
         margin: 0;
         padding: 0 0.5rem 1rem 0.5rem;
      }
      .chosen-results li {
         padding: 0.5rem 0.5rem;
         &.highlighted, &.selected {
            background-image: none !important;
            &.active {
               background-image: none !important;
            }
         }
         &, &.highlighted, &.selected {
            &.active {

            }
         }
      }
   }

   &.chosen-container-single {
      .chosen-drop {
         font-size:  100%;
         border-radius: 0;
         border: 1px solid;
         @include bg-color($white);
         @include border-color($brand-primary);
         border-top: none;
         padding: 1rem 0.25rem 0 0.25rem;
         .chosen-results > .active-result {
            @include bg-color($white);
            padding: 0.35rem 0.5rem;
            &.highlighted {
               @include bg-color($brand-primary);
            }
         }
      }
      & {
         > .chosen-single {
            font-size:  100%;
            box-shadow: none !important;
            background-image: none !important;
            border-radius: 0;
            margin: 0;
            height: auto;
            padding: 0.75rem 1rem;
            color: $gray-darker;
            border: 1px solid;
            @include bg-color($gray-lightest);
            @include border-color($gray-lighter);
            transition: background 0.1s linear, border 0.1s linear, color 0.1s linear;
            > div b {
               background-image: none !important;
               background: none !important;
               &:before {
                  content: '';
                  position: absolute;
                  @include caret-down(6px, $gray);
                  top:  20px;
                  right: 1.5rem;
               }
            }
            &:hover, &:focus, &.active {
               color: $brand-primary;
               @include bg-color($white);
               @include border-color($brand-primary);
               > div b {
                  &:before {
                     @include caret-down(6px, $brand-primary);
                  }
               }
            }
            @media
               only screen and (min-resolution: 192dpi),
               only screen and (min-resolution: 2dppx)
            {
               > div b {
                  background-image: none !important;
                  background: none !important;
               }
            }
         }
      }
      &.chosenize-lg {
         > .chosen-single {
            font-size:  110%;
            min-height: 45px;
            padding: 0.75rem 1rem;
         }
      }
      &.chosen-with-drop {
         // stuff only visible when dropdown open
      }
      &.chosen-container-active {
         &.chosen-with-drop {
            z-index: $zindex-modal;
            .chosen-single {
               color: $brand-primary;
               @include bg-color($white);
               @include border-color($brand-primary);
               > div b {
                  background-image: none !important;
                  background: none !important;
                  &:before {
                     border: none;
                     @include caret-up(6px, $brand-primary);
                  }
               }
               @media
                  only screen and (min-resolution: 192dpi),
                  only screen and (min-resolution: 2dppx)
               {
                  > div b {
                     background-image: none !important;
                     background: none !important;
                  }
               }
            }
         }
         .chosen-search {
            margin: 8px;
            padding: 0px;
            background-color: $gray-lighter;
            border: 1px solid $brand-primary;
            > input {
               color: $gray-dark;
               padding: 0.35rem 0.5rem;
               border: none;
            }
         }
      }
   }
}
